<h1 align="center">Sign Up</h1>

<div class="container">
  <%= form_tag "/users", method: :post do %>
    <div>
      Name: <input type="text" name="name" class="form-control">
    </div>
    <div>
      Email: <input type="text" name="email" class="form-control">
    </div>
    <div>
      Password: <input type="password" name="password" class="form-control">
    </div>
    <div>
      Password Confirmation: <input type="password" name="password_confirmation" class="form-control">
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Sign Up</button>
  <% end %>
</div>
