body {
  background-image: url(congruent_pentagon.png);
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
}

.well {
  width: 100%
}

#desc {
  box-shadow: 0 2px 0 #e6e6e6;
  height: 40px;
  padding-left: 10px;
  width: 100%;
  height: 200px;
  resize: none;
}

.red-price {
  color: red;
}
